@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playfair+Display:wght@400;700&family=Dancing+Script:wght@400;700&family=Inter:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap');

:root {
  --primary-color: #603f0d;
  --secondary-color: #cfa757;
  --tercery-color: #cb913a;
  --background-color: #f8f6ee;

  --grey-100: #ffffff;
  --grey-800: #595959;
  --grey-900: #090805;

  --font-secundary: 'Montserrat', sans-serif;
  --font-body: 'Inter', sans-serif;

  --title-1: 2rem;
  --title-2: 1.5rem;
  --body-1: 1rem;

  --line-height-relaxed: 1.75;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: var(--font-body);
  background-color: var(--background-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.devPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  background-color: var(--background-color);

  .box {
    background-color: var(--grey-100);
    border-radius: 10px;
    padding: clamp(20px, 5%, 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
    text-align: center;

    figure {
      width: clamp(120px, 25%, 200px);
      height: clamp(120px, 25%, 200px);
      border-radius: 50%;
      background-color: var(--primary-color);
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        width: 80%;  // A imagem é 80% do tamanho do figure
        height: 80%;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    h1 {
      font-size: clamp(1.5rem, 2.5vw, var(--title-1));
      font-family: var(--font-secundary);
      font-weight: 800;
      color: var(--grey-900);
    }

    p {
      font-size: clamp(0.875rem, 2vw, var(--body-1));
      line-height: 1,25;
      color: var(--grey-800);
    }

    a{
      text-decoration: none;
      color: var(--background-color);
      background-color: var(--primary-color);
      font-weight: 700;
      padding: 10px;
      border-radius: 10px;


      span{
        font-weight: 500;
      }

      &:hover{
        scale: 1.1;
      }
    }
  }
}
